<!-- Bootstrap and jquery -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- highcharts CDNs -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
 
<!-- Additional files for the Highslide popup effect -->
<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />

<!-- CSS -->
<%= stylesheet_link_tag "collapseSpoiler.css" %>


<%= nav_bar brand: "The Grand GrandeOmega visualization project" %>

<div class="container">
    <div id="gradeaverages" style="width:100%; height:400px; margin-bottom: 100px;"></div>
    <div id="amountofstudentsperclass" style="width:100%; height:400px; margin-bottom: 100px;"></div>

    <div class="updatableChart RegressionChart CorrelationChart Clustering" id="completedexcersisesandgradesclustering" style="width:100%; height:400px;"></div>
    <!-- Percentage and linearregression control -->
    <div class="panel panel1 panel-default">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs spoiler-trigger" data-toggle="collapse">Toggle Controls</button>
        </div>
        <div class="panel-collapse collapse out">
          <div class="panel-body">
          </div>
        </div> 
    </div>
    <!-- Correlations -->
    <div class="panel panel2 panel-default">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs spoiler-trigger" data-toggle="collapse">Toggle Correlation Measures</button>
        </div>
        <div class="panel-collapse collapse out">
          <div class="panel-body">
            <p id="pearson"></p>
            <p id="spearman"></p>            
          </div>
        </div>
    </div>


    <div class="updatableChart RegressionChart CorrelationChart" id="weekdaycompletionsvsgradesclassification" style="width:100%; height:400px;"></div>
    <!-- Percentage and linearregression control -->
    <div class="panel panel1 panel-default">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs spoiler-trigger" data-toggle="collapse">Toggle Controls</button>
        </div>
        <div class="panel-collapse collapse out">
          <div class="panel-body">
          </div>
        </div> 
    </div>
    <!-- Correlations -->
    <div class="panel panel2 panel-default">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs spoiler-trigger" data-toggle="collapse">Toggle Correlation Measures</button>
        </div>
        <div class="panel-collapse collapse out">
          <div class="panel-body">
            <p id="pearson"></p>
            <p id="spearman"></p>            
          </div>
        </div>
    </div>


    <div class="updatableChart RegressionChart CorrelationChart" id="weekendcompletionsvsgradesclassification" style="width:100%; height:400px;"></div>
    <!-- Percentage and linearregression control -->
    <div class="panel panel1 panel-default">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs spoiler-trigger" data-toggle="collapse">Toggle Controls</button>
        </div>
        <div class="panel-collapse collapse out">
          <div class="panel-body">
          </div>
        </div> 
    </div>
    <!-- Correlations -->
    <div class="panel panel2 panel-default">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs spoiler-trigger" data-toggle="collapse">Toggle Correlation Measures</button>
        </div>
        <div class="panel-collapse collapse out">
          <div class="panel-body">
            <p id="pearson"></p>
            <p id="spearman"></p>            
          </div>
        </div>
    </div>


    <div class="updatableChart RegressionChart CorrelationChart" id="gradesuccessrate" style="width:100%; height:400px;"></div>
    <!-- Percentage and linearregression control -->
    <div class="panel panel1 panel-default">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs spoiler-trigger" data-toggle="collapse">Toggle Controls</button>
        </div>
        <div class="panel-collapse collapse out">
          <div class="panel-body">
          </div>
        </div>
    </div>
    <!-- Correlations -->
    <div class="panel panel2 panel-default">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs spoiler-trigger" data-toggle="collapse">Toggle Correlation Measures</button>
        </div>
        <div class="panel-collapse collapse out">
          <div class="panel-body">
            <p id="pearson"></p>
            <p id="spearman"></p>  
          </div>
        </div>
    </div>
</div>


<div class="loadingIcon"></div>