<!-- remove, use gem instead -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<%= javascript_include_tag "application", "chartkick" %>

<%= nav_bar brand: "The Grand GrandeOmega visualization project" %>

<h2>Average grade per class</h2>x
<%= column_chart @avgGradePerClass, xtitle: "Class", ytitle: "Average grade" %>

<h2>Amount of completed excersises done per student</h2>
<%= line_chart @excersisesAmounts, xtitle: "Student id", ytitle: "Excersise amount" %>


<h2>Clustering of completed excersise amount vs. grades</h2>

<!-- make multiples. also, generify -->
<div class="form-group">
  <label for="percentage">Percentile of grades to be clustered:</label>

  <!-- generify style -->
  <input type="number" class="form-control" id="percentage" min="1" max="100" style="width: 75px;">
  <input type="button" class="form-control" value="Confirm" id="percentageConfirmation" style="width: 75px;">
</div>
<div id="excersisesCompletionAndGradesCluster" style="height: 300px"></div>

